{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 45.39512387127685,
        "longitude": -75.82934696227314,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Home",
        "time_zone": "America/Toronto",
        "external_url": null,
        "internal_url": null,
        "currency": "CAD"
    }
}